


<!-----menu -->
<header>
  <nav class="navbar navbar-default navbar-static-top " role="navigation">
    <div class="container">
      <div class="row">
        <br>
        <div class="col-md-1 col-lg-1">
          <a href="#/"><img src="assets/imgs/icono.png"/></a>
        </div>
        <div class="col-md-3 col-lg-3">
          <a href="#/" class="navbar-brand"> AllikaySoft 2.0</a>
        </div>

        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menuPrincipal-fm">
              <span class="sr-only"> Desplegar/Ocultar </span>
              <span class="icon-bar">  </span>
              <span class="icon-bar">  </span>
              <span class="icon-bar">  </span>
            </button>


          </div>
          <br>
          <!-- Iniciar menu-->
          <div class="collapse navbar-collapse" id="menuPrincipal-fm">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">DashBoard</a></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">Pacientes <span
                  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="admin-dashboard/add-paciente" >Ingreso Paciente</a>
                  </li>
                  <li><a href="" >Modificación
                    Paciente</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">Historia Clinica <span
                  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" >Nueva Historia Clínica</a></li>
                  <li><a href="" >Modificación
                    Historia Clinica</a></li>

                  <li><a href="" >Dar de baja la Historia Clinica</a></li>

                </ul>
              </li>



              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">Ausentismo <span
                  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" >Ingreso
                    Ausentismo</a></li>
                  <li><a href="" >Busqueda Ausentismo</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">Evoluciones <span
                  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" >Ingreso
                    Evoluciones</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"> Configuracion CIE 10
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" >Administrar</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"> Configuracion API <span
                  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" >Administrar</a></li>

                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{user.nombre_usuario}}
                   <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Perfil</a></li>
                  <li><a href="#" (click)="salir()" >Salir</a></li>
                </ul>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-----main -->


<router-outlet></router-outlet>




<br>
<br>
<br>
<footer class="footer">
  <div class="container">
  <h5 style="text-align: center;"><b>© TODOS LOS DERECHOS RESERVADOS 2018</b></h5>
  <h5 style="text-align: center;"><b>by RIOBYTES® SOLUTIONS CIA. LTDA. v2.0.1</b></h5>
  </div>

</footer>

