<section class="container">
  <p-panel header="PACIENTE">
    <p-panel header="Datos Paciente">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <mat-checkbox [(ngModel)]="cedula_pasaporte" color="primary">Cédula/Pasaporte</mat-checkbox>
          <mat-form-field class="example-full-width" *ngIf="cedula_pasaporte">
            <input matInput placeholder="Cédula" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' tabindex="3" [(ngModel)]="newPaciente.cedula">
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="!cedula_pasaporte" >
            <input matInput placeholder="Pasaporte" type="text" [(ngModel)]="newPaciente.cedula">
          </mat-form-field>
        </div>
      </div>
        <div class="row">

        <div class="col-md-3 col-xs-12">

          <mat-form-field class="example-full-width" >
            <input matInput placeholder="Primer Nombre" >
          </mat-form-field>


        </div>
        <div class="col-md-3 col-xs-12">
          <mat-form-field class="example-full-width" >
            <input matInput placeholder="Segundo Nombre" >
          </mat-form-field>


        </div>
        <div class="col-md-3 col-xs-12">
          <mat-form-field class="example-full-width" >
            <input matInput placeholder="Primer Apellido" >
          </mat-form-field>
        </div>
          <div class="col-md-3 col-xs-12">
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="Segundo Apellido" >
            </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <p-autoComplete [(ngModel)]="empleado" [suggestions]="filteredObjSingle" (completeMethod)="filterSingle($event)" field="nombre_pais"  [size]="30"
                          placeholder="País" [minLength]="1"  >
            <ng-template let-value pTemplate="item">
              <div>{{value.nombre_pais }} </div>
            </ng-template>
          </p-autoComplete>
        </div>

        <div class="col-md-3 col-xs-12">
          <div class="ui-grid-col-4" style="margin-left: 20px">{{empleado ? empleado.nombre_pais||empleado : ''}} </div>
        </div>

      <div class="col-md-3 col-xs-12">
        <p-autoComplete [(ngModel)]="empleado2" [suggestions]="filteredObjSingle2" (completeMethod)="filterSingle2($event)" field="nombre_provincia"  [size]="30"
                        placeholder="Provincia" [minLength]="1"  >
          <ng-template let-value pTemplate="item">
            <div>{{value.nombre_provincia }} </div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="col-md-3 col-xs-12">
        <div class="ui-grid-col-4" style="margin-left: 20px">{{empleado2 ? empleado2.nombre_provincia||empleado2 : ''}} </div>
      </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-xs-12">
          <mat-form-field>
            <mat-select placeholder="Ciudad" [(ngModel)]="newPaciente.ciudad">
              <mat-option *ngFor="let food of ciudades" [value]="food._id">
                {{ food.nombre_ciudad }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-3 col-xs-12">

        </div>
      </div>



    </p-panel>
    <p-panel header="Datos Puesto de Trabajo">
      <div class="row">

        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-3 col-xs-12">

        </div>
      </div>
    </p-panel>

    <div class="row">
      <div class="col-md-3 col-xs-12">
        <button pButton type="button"  label="Ingresar" class="ui-button-success" style="width: 100%" (click)="guardar()" ></button>
      </div>

      <div class="col-md-3 col-xs-12">
        <button pButton type="button"  label="Cancelar" class="ui-button-primary" style="width: 100%" (click)="cancelar()" ></button>
      </div>

    </div>
  </p-panel>

</section>
